# Docker volumes
docker-volumes/

# Text files
pdf_text.txt
data/
eda_analysis.ipynb
data/archive
data/review_polarity
polarity.ipynb
data_extraction/
SC4021 Models/
roberta-finetuned/
reddit_scraper_v2.py
Indexing_and_Searching/__pycache__/

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Generated / large data files
src/data/

# Dev changelogs
src/changelog/

# Large CSV files
*.csv